

body{
    font-family: 'Oswald', sans-serif;
} 


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul li {
    list-style-type: none;
}
a{
    text-decoration: none;
}

:root{
    --main-color: rgb(206, 89, 43);
    --font-color: rgb(236, 231, 231);
    --dark-color: rgb(36, 34, 34);
    --gray-color: #888;
}

.container{
    width: 85%;
    margin: auto;
}

.pd-y{
    padding: 50px 0;
}


/* navbar style*/

header .header{
    background-color: var(--dark-color);
    position: relative;
    /* position: fixed;
    /* width: 100%; */
    z-index: 10; 




}

header .header input , header .header label{
    position: absolute;
    top: 20px;
    right: 30px;
}

header .header input{
    display: none;
}


.header label{
    display: block;
    width: 40px;
    height: 40px;
    background-image: url(../images/Nav/open.png);
    background-repeat: no-repeat;
    background-size:cover ;
    cursor: pointer;
}


header .header input:checked ~ .my-list{
    display :block;
}

header .header input:checked ~ label{
    background-image: url(../images/Nav/close.png);
    background-size:cover ;
}





.header-content {
    display: flex;
    flex-wrap:wrap ;
    justify-content: space-between;
    align-items: center;
    padding: 5px 0;
}


 .my-list li {
    display: inline-block;
    /* flex-wrap: wrap; */
} 

.my-list li a {
    display: block;
    color: var(--font-color);
    margin: 10px;
    padding: 5px;
    border-radius: 3px;
    transition: 0.3s;

}

.my-list li a:hover{
    background-color: var(--main-color);
}

.my-list li:first-child a{
    background-color: var(--main-color);
}


.header-title a{
    font-size: 3rem;
   color:var(--font-color)
}




/* Media for nav style*/
@media (max-width:991px){

    .header-content{
        margin: auto;
        display: block;

    }
    .my-list{
        margin-top:15px ;
        display : none;
    }
    
    .my-list li{
        text-align: center;
        display:block;
    }

}

@media ( min-width :992px){
    .header label{
        display : none;
    }
}



/*************************** footer***************************/
footer{
    text-align: center;
    margin: 10px 0;
    color: var(--gray-color);
}












